<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>USERS</title>
</head>
<body>
    {% for user in users %}
    <li>{{user}}</li>
    {% endfor %}
</body>
</html>

<!-- 휘발성 변수

서버를 껐다 켜면 데이터는 100% 삭제

"DB에 있는 데이터를 어떻게 보여줄지 결정하는 디자인 설계도 -->

'''
클라이언트(브라우저): 아이디와 비밀번호를 적어서 POST로 서버에 보냄.

서버(Flask): * 아이디가 DB에 있는지 확인 (DB 조회).

비밀번호가 맞는지 확인 (DB 데이터와 비교).

맞다면? "로그인 성공!"이라는 신호를 줌.

데이터 출력 요청: 사용자가 /users/ 페이지에 접속함.

서버(Flask): DB에서 유저 정보를 몽땅 가져와 user_list에 담음.

users.html (렌더링): 서버로부터 받은 user_list를 화면에 <li> 태그로 변환해서 사용자에게 보여줌.
'''