<link href="{{url_for('static', filename='css/include/nav.css')}}" rel="stylesheet">

<nav>
    <div class="nav_wrap">
        <a href="/">HOME</a>
        <a href="/bank/newAccount_form">NEW ACCOUNT</a>
        |
        <a href="/bank/deposit_form">DEPOSIT</a>
        |
        <a href="/bank/withdrawal_form">WITHDRAWAL</a>

        <a href="/bank/accModify_form">MODIFY</a>
        |
        <a href="/bank/delete_confirm">DELETE</a>
        |
        <a href="/bank/accountlist_confirm">ACCOUNT LIST</a>
            
        </form>
        |
        <a href="/bank/accList_confirm">ACCOUNT LIST</a>
       
    </div>
</nav>



    
    </div>
</nav>