<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MEMBER SERVICE</title>

    <link href="{{url_for('static', filename='css/common.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/member.css')}}" rel="stylesheet">

    <script src="{{url_for('static', filename='js/member.js')}}"></script>

</head>
<body>
                                                                                          <!-- RESET은 CLEAN이 아니다 value값으로만 변경 -->
    {% include 'include/header.html' %}
    {% include 'include/nav.html' %}
                                                                                  <!-- disabled vs only readonly  : disabled 값이 넘어가질 않음-->
    <article id="modify_wrap">
        <div class="modify_form">
            <form action="/member/modify_confirm"  method="post" name="modify_form">
                <input type="hidden" name="mId" value="{{member.mId}}">   <!-- 보이지는 않으나 실제로 있음 mId도 있는거임 -->
                <input class="input_basic" type="text" name="mId" value="{{member.mId}}" readonly disabled>   
                <br>
                <input class="input_basic" type="password" name="mPw"  value="{{member.mPw}}"placeholder="Input member PW">
                <br>
                <input class="input_basic" type="email" name="mMail" value="{{member.mMail}}" placeholder="Input member MAIL">
                <br>
                <input class="input_basic" type="text" name="mPhone"  value="{{member.mPhone}}" placeholder="Input member PHONE">
                <br>

                <input class="input_button_basic_130" type="button" value="MODIFY" onclick="modifyForm();">
                <input class="input_button_basic_130" type="reset" value="RESET">
            </form>
        </div>
    </article>

    {% include 'include/footer.html' %}

</body>
</html>